.featured{
    .feat-right{
        p{
            margin-top: 40px;
        }
        button{
            margin: 10px;
            margin-top: 40px;
        }
        h3{
            margin-top: 40px;
        }
    }
}